body {
    height: 100%;
}

.container {
    min-width: 85%;
    max-width: 90%;
}

input[type=text] {
    border: none;
}

button#delItem:hover {
    color: #dc3545;
    border-color: #dc3545;
    background-color: white;
}

button#addItem:hover {
    color: #198754;
    border-color: #198754;
    background-color: white;
}

button#order:hover {
    color: #0d6efd;
    border-color: #0d6efd;
    background-color: white;
}

#update {
    color: #198754;
    font-size: 0.8em;
}

#stocks {
    font-size: 0.65em;
}

ul#ui-id-1 {
    border-radius: 0 0 15px 15px;
    background: #343a40;
    border-color: transparent;
    word-wrap: break-word;
    width: 100px;
}

.ui-menu-item{
    color: #fff;
    font-size: 1rem;
    padding: 5px 7px 7px;
    border-bottom: 1px solid #212529;
    word-wrap: break-word;
}